<section class="inicio">
    <div class="row g-0 h-100">
      <div class="col-lg-12 d-flex">
        <div class="content mx-auto align-self-center px-4 my-5">
            <div class="formulario card">
                <div class="card-body">
                    <p class="fw-bold m-2 text-center text-secondary fs-6">Coloque su matrícula para conocer su información de votante en las elecciones del 15 de Junio en la UASD.</p>
                </div>
            </div>
            <div class="formulario card bg-light">
                <div class="card-body">
                    <div *ngIf="spinner" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p class="fw-bold lead mb-3 mt-2">Información</p>
                    <form [formGroup]="usuarioForm" (ngSubmit)="buscarUsuario()">
                        <!-- USERNAME INPUT -->
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i [style.color]="estiloInput('matricula')" class="fas fa-address-card"></i></span>
                            <input type="text" class="form-control" placeholder="Ingresar matrícula" formControlName="matricula" autofocus required>
                        </div>
                        <div>
                            <input [disabled]="this.usuarioForm.invalid" class="btn btn-primary mb-2" type="submit" value="Buscar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
